@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
  transition: all 0.2s ease-in;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
  background-color: #e4e4e4;
}

.dark {
  color: white !important;
  background-color: black !important;
}

#nav-ribbon {
  background-color: transparent;
  z-index: 11;
  cursor:
    url(https://cdn.prod.website-files.com/679cb9cacf00799ba4b4c985/68e3b2a062e7405c3602ab28_mickey-mouse-pointer-small.svg),
    pointer;

  width: 100vw;
  height: 70px;
  position: fixed;
  top: 0px;
  /* Flex  */
  display: flex;
  justify-content: space-between;
  font-family: 'GT Pressura Mono';
  font-weight: 100;
  letter-spacing: 0.1rem;
  font-size : 0.9rem;
}

#nav-ribbon-left {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding : 1rem;
  
}

#nav-ribbon-right{
  width : 37%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 2.7rem;
}

#top-section {
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#animated-character-box {
  width: 60%;
  height: auto;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 12rem;
  font-weight: 900;
  line-height: 170px;
  text-align: center;
}

#mode {
  width: 180px; 
}
#menu,
#contact {
  transition: all 0.5s ease;
}
#menu {
  width: 70px;
}

#animated-cursor-box {
  z-index: 100;
  width: 250px;
  height: 350px;
  overflow: hidden;
  border-radius: 10px 10px;
  /* Position based on the cursor */
  position: absolute;
  transition: all linear 0.2s;
  opacity: 0;
}

#animated-cursor-box video {
  width: 110%;
}

/* oVERLAYS */
#overlay {
  z-index: 100;
  display: flex;
  align-items: center;
  padding-top: 4rem;
  font-family: 'GTPressuraMono', sans-serif;
  width: 100vw;
  height: 100%;
  box-sizing: border-box; 
  position: absolute;
  background-color: white;
  top: -112%;
  transition: all 0.3s ease;
}

.overlay-menus h3 {
  /* background-color: red; */
  font-size: 100px;
  line-height: 120px;
  font-weight: 800;
  cursor:
    url(https://cdn.prod.website-files.com/679cb9cacf00799ba4b4c985/68e3b2a062e7405c3602ab28_mickey-mouse-pointer-small.svg),
    pointer;
}

.overlay-item {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 18px;
  margin-right : 40px;
  transform: scaleY(1.4); 
  transition: all 0.3s ease-in-out; 
}

.overlay-item h3 {
  letter-spacing: -3px;
  transition: all 0.7s ease-in-out; 
}

.overlay-item img {
  width: 0px;
  height: 90px;
  margin-left: 10px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

#follower {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: blue;
  transition: all 0.5s ease;
  position: absolute;
  z-index: 10;
}

/* PopOut Area */

.popout-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap : 1.5rem;
  margin-bottom: 150px;
  width: 100vw;
  height: 95vh;
}
.popout-area-head {
  font-size: 1rem;
  /* To capitalize the text */
  text-transform: uppercase;
  font-family: 'Bebas Neue',sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  word-spacing: 7px;
  margin-top: 10rem;
}
.popout-area-content p {
  font-size: 4.8rem;
  font-family: 'Changa One', sans-serif;
  line-height: 100px;
  word-spacing: 5px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  transform-origin: center;/*defines where the stretching starts (e.g., top, bottom, center).*/
  /* transform: scaleY(1.3); */
}

.highlight {
  text-decoration: underline;
  position: relative;
  display: inline-block;
}

.highlight img {
  width: auto;
  height: 220px;
  object-fit: contain;

  opacity: 0;
  position: absolute;
  bottom: -50px;
  left: 50%; 
  transform: translateX(-50%) translateY(50px);
  transition:
    opacity 0.2s ease-in-out,
    transform 0.2s ease-in-out;
  border-radius: 5%;
}

.highlight img.show {
  border-radius: 5%;
  opacity: 1;
  transform: translateX(-50%) translateY(0);
  animation: pop 1s ease;
}
.image-highlight {
  border-radius: 5%;
}

/* Contact Overlay  */
#contact-form-overlay {
  /* display: flex; */
  align-items: center;
  padding: 1.6rem;
  gap: 15rem;
  font-family: 'Bebas Neue', sans-serif;
  width: 100vw;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  top: -100%;
  transition: all 0.3s ease;
  background-color: #e4e4e4;
  overflow: hidden;
  z-index: 1000;
}

#contact-form-overlay h1 {
  font-size: 9rem;
  line-height: 8rem;
  font-weight: 900;
  letter-spacing: 3px;
}

#gif-heading{
  display: flex;
  gap : 1rem;
}

#gif-heading img{
  height : 8rem;
  width : 0px;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.6s ease-in;
}


.form-div{
  margin-top : 2rem;
  width: 100%;
  display: flex;
  gap : 2rem;
  height: 3rem;
}

.form-div label{
  font-weight: 300;
  letter-spacing: 1px;
}

 .form-div input{
  width : 100%;
  letter-spacing: 0px;
} 

input {
  outline: none;
  border: none;
  background-color: transparent;
}

input,
::placeholder {
  text-transform: uppercase;
  font-size: 3.3rem;
  font-weight: 800;
  color: #c9c9c9;
  
  font-family: 'Bebas Neue',sans-serif;
}

.interest-options{
  display: flex;
  gap : 2rem;
}

.interest-option-item{
  background-color: #c9c9c9;
  color : rgb(240, 237, 237);
  border-radius: 5px;
  padding : 0.5rem;
  font-size: 2rem;
  font-weight : 600;
}
.interest-option-item.active{
  color: #c9c9c9;
  background-color : black;
}

/* TODO: Playground */

#playground {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top : 20rem;
  margin-bottom : 15rem;
}

#playground-heading {
  padding: 5px ;
  position: relative;
  font-size: 14rem;
  font-family: 'Bebas Neue', sans-serif;

}

#playground-item {
  position: absolute;
  font-size: 2rem;
  top: 0px;
  left: 0px;
  background-color: blue;
  border-radius: 6px;
  padding: 5px;
  transform: rotate(-5deg);
  color : white;

  transition: all 0.1s ease;
}

#grid-vedio-box{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-auto-rows: 97vh;
  padding : 10px;
  gap : 1.5rem;
  margin : 0 2rem 0 1rem;
}

.grid-vedio-items{
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.7s ease-in;
}

.grid-vedio-items img{
  position: absolute;
  width : 100%;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
  cursor : url(https://cdn.prod.website-files.com/679cb9cacf00799ba4b4c985/68e3b2a062e7405c3602ab28_mickey-mouse-pointer-small.svg),
    pointer;
}

.grid-vedio-items video{
  z-index: 100; 
  width: 0;
  border-radius: 10px;
  cursor : url(https://cdn.prod.website-files.com/679cb9cacf00799ba4b4c985/68e3b2a062e7405c3602ab28_mickey-mouse-pointer-small.svg),
    pointer;
}

.video-item-follower{
  display: none;
  position: absolute;
  font-size: 1.5rem;
  top: 0px;
  left: 0px;
  background-color: blue;
  border-radius: 6px;
  padding: 5px;
  transform: rotate(-5deg);
  color : white;
  z-index : 90000;
  transition: all 0.1s ease;
  text-transform: uppercase;
  font-family : 'Bebas-Neue',sans-serif;
  font-weight: 800;
  transition: all 0.2s linear;
}

#grid-image-1,#grid-image-3{
  transform: translate(-80%,0% ) rotate(-15deg);
}

#grid-image-2,#grid-image-4{
  transform: rotate(15deg) translate(80%, 0%);
}

