* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html,
body {
    height: 100vh;
    width: 100vw;
}

.outer-container{
    display: flex;
    flex-direction: column;
    gap : 15px;
    align-items: center;
}
h2{
    color : rgb(228, 148, 1);
    margin-top : 8px;
}

input{
    width : 300px;
    border-radius: 20px;
    height : 30px;
    padding : 0 10px;
    border : 1px solid rgb(222, 216, 216);
}

.container{
    border : 1px solid grey;
    width : 65%;
    border-radius: 15px;
    padding : 20px;

    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
    grid-template-rows: repeat(3,200px);
    gap : 15px;
}

.images{
    width : 100%;
    height : 100%;
    object-fit: cover;
    overflow : hidden;
    border-radius: 15px;
}